@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url(../fonts/NunitoSans-Regular.ttf);
}